
*.xlsx
.vscode/*
.vscode/launch.json
.vscode/settings.json
.vscode/Scratch/*
.vscode/Scratch/scratch1
.vscode/Scratch/scratch2
Projects/*
Projects/Database/*
Projects/Database/default/*
Projects/Database/default/default.sqlproj
Projects/Results/*
Projects/Results/System Administrator_jobs.xlsx
Projects/Scripts/Python/Indeed_Scrapper/OLD.*
Projects/Scripts/Python/Indeed_Scrapper/OLD/job_search.py
.gitignore
